$color-accent: #f2d81c;
$color-accent_hover: #d3b81a;
$color-background: #f9f9f9;
$color-button_back: #e6e6e6;
$color-button_text: #ccc;
$color-grey_text: #b3b3b3;
$color-dark_grey: #333;

@mixin translate(){
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin center-this($top) {
    position: absolute;
    top: $top;
    left: 50%;
    @include translate();
}

body {
    font-family: 'Karla';
    background-color: $color-background;
}
    
.congrats {
    @include center-this(15%);
    text-align: center;
    min-width: 300px;
    width: 75%;
    max-width: 600px;
    font-size: 175%;
}

.instructions {
    @include center-this(22.5%);
    text-align: center;
    min-width: 375px;
    width: 80%;
    max-width: 700px;
    font-size: 175%;
    
    span {
        color: $color-accent;    
    }
}

.image-cont {
    @include center-this(55%);
    
    div.bike {
        background: url(../img/confirmation/bike.gif) no-repeat center;
        width: 720px;
        height: 540px;
        background-size: contain;
    }
}

.button {
    @include center-this(90%);
}

.continue {
    width: 200px;
    padding: 12px 0;
    text: { transform: uppercase; }
    font: { family: 'Montserrat'; size: 1.2em; }
    
    border: none;
    outline: none;
    
    background-color: $color-accent;
    color: #fff;
    
    transition: background-color 0.2s, color 0.2s;
    
    &[disabled] {
        background-color: $color-button_back;
        color: $color-button_text;
    }
    
    &:hover:not([disabled]) {
        background-color: $color-accent_hover;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .congrats {
        padding-bottom: 1.8em;
        font-size: 155%;
    }
    
    .instructions {
        font-size: 155%;    
    }
}