/* line 11, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
body {
  font-family: 'Karla';
  background-color: #f9f9f9; }

/* line 16, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
.banner {
  position: relative;
  background: url(../img/login/manager-login-banner.png) no-repeat center center;
  background-size: cover;
  height: 50%;
  min-height: 400px;
  max-height: 500px;
  margin-bottom: 100px;
  font-family: 'Montserrat'; }
  /* line 28, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner img {
    height: 70px;
    width: auto; }
  /* line 33, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px 26px 0 0; }
    /* line 40, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    .banner nav a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
      /* line 45, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
      .banner nav a:first-child {
        margin-right: 50px; }
      /* line 49, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
      .banner nav a:hover {
        color: #e6e6e6; }
  /* line 55, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner h1 {
    text-transform: uppercase;
    font-size: 3.2em;
    color: #fff; }
  /* line 61, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner h4 {
    font-size: 1.2em;
    color: #fff; }
  /* line 66, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner button {
    padding: 18px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: rgba(0, 113, 188, 0.6);
    color: #fff; }
    /* line 76, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    .banner button:hover {
      background-color: rgba(0, 113, 188, 0.75); }
  /* line 81, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .banner > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /* line 90, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    .banner > div a {
      text-decoration: none;
      color: #f2d81c; }

/* line 97, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
section.rental_section {
  height: 100vh;
  min-height: 600px;
  text-align: center;
  position: relative;
  min-height: 800px; }
  /* line 103, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  section.rental_section > div.content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 115, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  section.rental_section h2 {
    margin-bottom: 12px;
    font-size: 2em; }
  /* line 120, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  section.rental_section img {
    position: relative;
    top: 10px; }
  /* line 125, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  section.rental_section label {
    position: relative;
    top: 10px;
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: right;
    color: #333;
    width: 140px;
    margin-right: 10px; }
  /* line 138, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  section.rental_section input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    width: 500px;
    padding-bottom: 6px;
    padding-left: 2px;
    margin-bottom: 48px;
    font-size: 1.1em; }
    /* line 152, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    section.rental_section input::-webkit-input-placeholder {
      font-style: italic; }
    /* line 156, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    section.rental_section input:-moz-placeholder {
      /* Firefox 18- */
      font-style: italic; }
    /* line 160, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    section.rental_section input::-moz-placeholder {
      /* Firefox 19+ */
      font-style: italic; }
    /* line 164, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
    section.rental_section input:-ms-input-placeholder {
      font-style: italic; }

/* line 170, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
.continue {
  width: 200px;
  padding: 12px 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #035BAE;
  color: #fff;
  transition: background-color 0.2s, color 0.2s; }
  /* line 184, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .continue[disabled] {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 189, /Users/lawrencehumphrey/Dev/neutral-cycle/css/login.scss */
  .continue:hover:not([disabled]) {
    background-color: #034E94; }

/*# sourceMappingURL=login.css.map */