.keys {
    color: blue;
}

.portal {
    float: right;
}

#rental {
    label:first-child {
        width: 120px;
        text-align: right;
        display: inline-block;
    }
    
    .error {
        color: red;   
    }
} 
 
@import 'rental', 'mgmt';
