/* line 19, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
table {
  table-layout: fixed; }

/* line 23, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
textarea:focus, input:focus {
  outline: 0; }

/* line 27, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.input-cont {
  position: relative;
  padding: 0;
  margin: 0;
  display: inline; }
  /* line 33, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .input-cont input {
    padding-left: 30px;
    width: 250px;
    height: 28px;
    border: 1px solid #d9d9d9;
    border-radius: 16px; }
  /* line 41, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .input-cont #icon {
    position: absolute;
    bottom: 4px;
    left: 10px;
    width: 10px;
    height: 10px; }

/* line 50, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.head {
  margin-top: 2em;
  margin-left: 5.2em; }
  /* line 54, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .head h1 {
    margin-top: 6px;
    display: inline;
    font-weight: bold; }
  /* line 60, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .head select {
    display: inline; }

/* line 65, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.status {
  padding: 1em 0em;
  margin-left: 5.2em;
  line-height: 0.75;
  min-width: 700px; }
  /* line 70, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .status h4 {
    display: inline;
    padding-right: 3em;
    color: #ccc;
    cursor: pointer; }
    /* line 76, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
    .status h4:hover {
      color: #999; }
    /* line 80, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
    .status h4.active {
      color: #E8E595; }

/* line 86, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.log {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width: 1400px;
  margin-top: 20px;
  padding: 30px; }
  /* line 94, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .log th {
    text-align: left; }
  /* line 98, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .log tr {
    margin-bottom: 6px; }
  /* line 102, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .log td {
    padding: 25px 0px; }
  /* line 106, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .log a {
    text-decoration: none;
    color: #000; }

/* line 112, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.entry {
  border-bottom: 3px solid #eee; }
  /* line 115, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .entry:hover {
    cursor: pointer;
    background-color: #eee; }

/* line 121, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.modifiers {
  visibility: hidden;
  margin-top: 1.5em; }
  /* line 125, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .modifiers a {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
    color: #444; }
  /* line 134, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .modifiers img {
    display: block;
    margin: 0 auto 2px;
    width: 40px; }

/* line 141, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.table-head {
  border-bottom: 2px solid #ccc; }

/* line 146, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.equipment p {
  display: inline; }
/* line 150, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.equipment .comma::before {
  content: ", "; }

/* line 155, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.visible {
  visibility: visible; }

/* line 161, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
.container {
  width: 100vw;
  height: 100vh; }
  /* line 165, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .container .left {
    float: left;
    height: 100%;
    width: 30%;
    background-image: url('../img/mgmt/road-bike-594164_1920.jpg');
    background-size: cover; }
    /* line 173, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
    .container .left h1 {
      color: #035BAE;
      text-align: center;
      margin-top: 60px; }
    /* line 179, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
    .container .left a {
      position: relative;
      top: 80vh;
      left: 40%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      color: #fff;
      background-color: #035BAE;
      text-decoration: none;
      padding: 12px 24px; }
      /* line 189, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
      .container .left a.hover {
        background-color: #034E94; }
  /* line 195, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
  .container .right {
    width: 70%;
    height: 100%;
    float: right; }
    /* line 200, /Users/lawrencehumphrey/Dev/neutral-cycle/css/mgmt.scss */
    .container .right form {
      position: relative;
      top: 5vh;
      left: 5vw; }

/*# sourceMappingURL=mgmt.css.map */