$color-accent: #f2d81c;
$color-accent_hover: #d3b81a;
$color-background: #f9f9f9;
$color-button_back: #e6e6e6;
$color-button_text: #ccc;
$color-grey_text: #b3b3b3;
$color-dark_grey: #333;

@mixin translate(){
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin center-this($top) {
    position: absolute;
    top: $top;
    left: 50%;
    @include translate();
}

.pay-deats {
    height: 15vh;
    @include center-this(15%);
}

.form-cont {
    height: 55vh;
    @include center-this(55%);
}

.error {
    text-align: center;
}

.continue {
    display: block;
    width: 200px;
    margin: 30px auto 0;
    padding: 12px 0;
    text: { transform: uppercase; }
    font: { family: 'Montserrat'; size: 1.2em; }
    
    border: none;
    outline: none;
    
    background-color: $color-accent;
    color: #fff;
    
    transition: background-color 0.2s, color 0.2s;
    
    &[disabled] {
        background-color: $color-button_back;
        color: $color-button_text;
    }
    
    &:hover:not([disabled]) {
        background-color: $color-accent_hover;
    }
}

form { margin-bottom: 80px; }

p { margin-bottom: 50px; }

label {
//    position: relative;
//    top: 10px;

    display: inline-block;
    font: { family: 'Montserrat'; size: .8em; }
    text: { transform: uppercase; align: right; }
    color: $color-dark_grey;

    width: 140px;
    margin-right: 10px;
}

input[type="text"] {
    background: none;

    outline: none;
    border: none;
    border-bottom: 1px solid $color-dark_grey;

    width: 300px;
    padding-bottom: 6px;
    padding-left: 2px;

    font: { size: 1.1em; }

    &::-webkit-input-placeholder {
        font-style: italic;
    }

    &:-moz-placeholder { /* Firefox 18- */
        font-style: italic;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        font-style: italic;
    }

    &:-ms-input-placeholder {  
        font-style: italic;
    }
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        text-align: center;
        margin: 30px 0 24px;
        width: 100%;
    }
}