/* line 22, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.wrapper {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden; }

/* line 28, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.pay-deats {
  height: 15vh;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* line 33, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.order-summary {
  height: 20vh;
  width: 80vw; }
  /* line 37, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .order-summary .breakdown {
    position: absolute;
    top: 22.5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    /* line 39, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
    .order-summary .breakdown div {
      display: inline-block;
      width: 15vw;
      min-width: 200px;
      max-width: 300px; }

/* line 48, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.form-cont {
  height: 55vh;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  /* line 52, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont .left {
    float: left;
    height: 100%;
    width: 70%; }
  /* line 58, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont .right {
    float: right;
    height: 100%;
    width: 30%; }
  /* line 64, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont form {
    margin-bottom: 80px; }
  /* line 68, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont #card {
    min-width: 205px;
    max-width: 205px; }
  /* line 73, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont #exp {
    width: 60%;
    max-width: 250px; }
  /* line 78, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .form-cont #cvc {
    min-width: 40px;
    max-width: 50px; }

/* line 84, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.error {
  text-align: center; }

/* line 88, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
.continue {
  position: relative;
  top: 50px;
  display: block;
  width: 200px;
  margin: 30px auto 0;
  padding: 12px 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #f2d81c;
  color: #fff;
  transition: background-color 0.2s, color 0.2s; }
  /* line 107, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .continue[disabled] {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 112, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  .continue:hover:not([disabled]) {
    background-color: #d3b81a; }

/* line 117, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
p {
  margin-bottom: 50px; }

/* line 119, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
label {
  display: inline;
  font-family: 'Montserrat';
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: right;
  color: #333;
  width: 140px;
  margin-right: 10px; }

/* line 132, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
input[type="text"] {
  background: none;
  display: inline;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 300px;
  padding-bottom: 6px;
  padding-left: 2px;
  font-size: 1.1em; }
  /* line 146, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  input[type="text"]::-webkit-input-placeholder {
    font-style: italic; }
  /* line 150, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic; }
  /* line 154, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic; }
  /* line 158, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  input[type="text"]:-ms-input-placeholder {
    font-style: italic; }

@media only screen and (max-width: 650px) {
  /* line 164, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/payment.scss */
  label {
    display: block;
    text-align: center;
    margin: 30px 0 24px;
    width: 100%; }

 }

/*# sourceMappingURL=payment.css.map */