/* line 17, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
* {
  margin: 0;
  padding: 0; }

/* line 19, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
body {
  font-family: 'Karla';
  background-color: #f9f9f9; }

/* line 24, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.banner {
  position: relative;
  background: url(../img/bike-photo.png) no-repeat center center;
  background-size: cover;
  height: 40%;
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 40px;
  font-family: 'Montserrat'; }
  /* line 36, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner img {
    height: 70px;
    width: auto; }
  /* line 41, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px 26px 0 0; }
    /* line 48, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .banner nav a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
      /* line 53, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
      .banner nav a:first-child {
        margin-right: 50px; }
      /* line 57, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
      .banner nav a:hover {
        color: #e6e6e6; }
  /* line 63, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner h1 {
    text-transform: uppercase;
    font-size: 3.2em;
    color: #fff; }
  /* line 69, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner button {
    padding: 18px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: rgba(0, 113, 188, 0.6);
    color: #fff; }
    /* line 79, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .banner button:hover {
      background-color: rgba(0, 113, 188, 0.75); }
  /* line 84, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  /* line 94, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner .hiw-wrapper {
    position: relative;
    top: -400px;
    height: 100%;
    width: 100vw;
    background: url(../img/rental/how-it-works/howitworks-bg.png) no-repeat center center;
    color: #fff;
    z-index: 5;
    font-family: 'Montserrat';
    -webkit-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
    -moz-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
    -ms-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
    -o-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
    transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all; }
    /* line 107, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .banner .hiw-wrapper.active {
      -webkit-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
      -moz-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
      -ms-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
      -o-transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
      transition: 800ms cubic-bezier(0.42, 0, 0.58, 1) all;
      top: 190px; }
    /* line 112, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .banner .hiw-wrapper .how-it-works {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 100px;
      left: 0px; }
      /* line 120, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
      .banner .hiw-wrapper .how-it-works div {
        display: inline-block;
        height: 100%;
        width: 33.3333%;
        float: left; }
        /* line 126, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
        .banner .hiw-wrapper .how-it-works div h4 {
          margin-top: 2.5em; }
        /* line 130, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
        .banner .hiw-wrapper .how-it-works div p {
          margin-top: 0.5em; }
  /* line 137, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .banner .close {
    display: block;
    float: right;
    width: auto;
    height: auto;
    margin-top: 26px;
    margin-right: 26px;
    cursor: pointer; }

/* line 149, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.rental_section {
  height: 100vh;
  min-height: 600px;
  text-align: center;
  position: relative; }
  /* line 157, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.rental_section > div.content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* line 168, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.select-equipment {
  min-height: 800px; }
  /* line 171, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment h2 {
    margin-bottom: 12px;
    font-size: 2em; }
  /* line 176, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment ul {
    margin-top: 40px; }
  /* line 180, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment li {
    display: inline-block;
    margin-right: 36px;
    height: 250px; }
  /* line 186, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment li:last-child {
    margin-right: 0; }
  /* line 190, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment .box {
    box-sizing: border-box;
    border: 2px solid #000;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
    transition: border 0.1s;
    cursor: pointer; }
    /* line 200, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    section.select-equipment .box.control {
      border: 4px solid #f2d81c; }
  /* line 205, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment img {
    position: relative;
    top: 10px; }
  /* line 210, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment label {
    position: relative;
    top: -30px;
    display: block;
    font-size: 1.3em;
    cursor: pointer; }
  /* line 218, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment .controls {
    visibility: hidden; }
    /* line 221, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    section.select-equipment .controls span {
      display: inline-block;
      width: 80px; }
    /* line 226, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    section.select-equipment .controls button {
      background-color: #ccc;
      color: #555;
      border: none;
      outline: none;
      display: inline-block;
      height: 40px;
      width: 40px;
      font-size: 1.4em;
      transition: background-color 0.1s color 0.1s; }
      /* line 239, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
      section.select-equipment .controls button:hover {
        background-color: #f2d81c;
        color: #fff; }
    /* line 245, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    section.select-equipment .controls button[disabled], section.select-equipment .controls button[disabled]:hover {
      background-color: #e6e6e6;
      color: #b3b3b3; }
  /* line 251, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.select-equipment .box.control + div {
    visibility: visible; }

/* line 256, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.continue, .submit {
  width: 200px;
  padding: 12px 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #f2d81c;
  color: #fff;
  transition: background-color 0.2s, color 0.2s; }
  /* line 270, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .continue[disabled], [disabled].submit {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 275, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .continue:hover:not([disabled]), .submit:hover:not([disabled]) {
    background-color: #d3b81a; }

/* line 284, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.breakdown {
  margin-bottom: 40px; }
  /* line 285, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .breakdown .plus::before {
    content: "+"; }
  /* line 291, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .breakdown .price {
    color: #f2d81c; }

/* line 296, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
h2 {
  font-size: 1.6em;
  letter-spacing: 1px;
  margin-bottom: 40px; }

/* line 302, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
h3 {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 60px 0 20px; }

/* line 309, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.rental_section.select-date h2 {
  margin: 0; }

/* line 314, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.datepicker {
  height: 400px; }

/* line 318, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.ui-datepicker {
  max-width: 800px;
  margin: 0 auto; }
  /* line 322, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px; }
  /* line 330, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker th {
    font-family: 'Montserrat';
    text-transform: uppercase; }
  /* line 335, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker a {
    text-decoration: none; }
  /* line 339, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker td {
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 8px 0;
    font-size: 1.2em;
    color: #000;
    cursor: pointer; }
    /* line 349, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker td a {
      color: #000; }
    /* line 351, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-unselectable {
      cursor: default;
      border-color: #ccc;
      color: #ccc; }
    /* line 357, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-other-month {
      visibility: hidden; }
    /* line 361, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-current-day {
      border-color: #f2d81c; }
      /* line 363, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
      .ui-datepicker td.ui-datepicker-current-day a {
        color: #f2d81c; }
  /* line 367, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-month {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.1em;
    letter-spacing: 1px; }
  /* line 373, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-year {
    display: none; }
  /* line 375, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    display: block;
    position: relative;
    height: 20px;
    width: 10px;
    cursor: pointer; }
    /* line 383, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
      display: none; }
    /* line 385, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
    .ui-datepicker .ui-datepicker-prev.ui-state-disabled, .ui-datepicker .ui-datepicker-next.ui-state-disabled {
      opacity: 0.3;
      cursor: default; }
  /* line 391, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-prev {
    background: url(../img/rental/left.png) no-repeat center center;
    background-size: 10px auto;
    left: calc(50% - 110px);
    top: 40px; }
  /* line 399, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-next {
    background: url(../img/rental/right.png) no-repeat center center;
    background-size: 10px auto;
    left: calc(50% + 100px);
    top: 20px; }

/* line 409, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.how-long input[type="number"] {
  box-sizing: border-box;
  display: inline-block;
  height: 54px;
  width: 100%;
  max-width: 160px;
  border: 1px solid #b3b3b3;
  outline: none;
  text-align: center; }
/* line 421, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.how-long input[type="radio"] {
  display: none; }
/* line 425, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.how-long label {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  height: 54px;
  line-height: 54px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  cursor: pointer; }
  /* line 439, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .how-long label.increment {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 444, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .how-long label.count {
    font-size: 1.2em;
    max-width: 40px;
    color: #b3b3b3; }
  /* line 450, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .how-long label.last-count {
    margin-right: 20px; }
/* line 456, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.how-long input[type="radio"]:checked + label.increment {
  background-color: #f2d81c;
  color: #fff; }
/* line 461, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.how-long input[type="radio"]:checked + label.count {
  color: #f2d81c; }

/* line 467, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.drop-off {
  font-size: 4em;
  color: #333; }

/* line 472, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
.breakdown {
  font-size: 3em;
  color: #b3b3b3; }
  /* line 476, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .breakdown b {
    color: #000; }
  /* line 478, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .breakdown em {
    position: relative;
    top: -12px;
    font-style: normal;
    font-size: 0.6em; }
  /* line 485, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  .breakdown .total {
    color: #f2d81c; }

/* line 489, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.personal-info form {
  margin-bottom: 80px; }
/* line 491, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.personal-info p {
  margin-bottom: 50px; }
/* line 493, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.personal-info label {
  position: relative;
  top: 10px;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: right;
  color: #333;
  width: 140px;
  margin-right: 10px; }
/* line 506, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
section.personal-info input[type="text"] {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 300px;
  padding-bottom: 6px;
  padding-left: 2px;
  font-size: 1.1em; }
  /* line 519, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]::-webkit-input-placeholder {
    font-style: italic; }
  /* line 523, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic; }
  /* line 527, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic; }
  /* line 531, /Users/lawrencehumphrey/Dev/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]:-ms-input-placeholder {
    font-style: italic; }

/*# sourceMappingURL=rental.css.map */