/* line 9, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
* {
  margin: 0;
  padding: 0; }

/* line 11, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
body {
  font-family: 'Karla';
  background-color: #f9f9f9; }

/* line 16, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.banner {
  position: relative;
  background: url(../img/bike-photo.png) no-repeat center center;
  background-size: cover;
  height: 40%;
  min-height: 300px;
  max-height: 400px;
  margin-bottom: 40px;
  font-family: 'Montserrat'; }
  /* line 28, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .banner img {
    height: 70px;
    width: auto; }
  /* line 33, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .banner nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 26px 26px 0 0; }
    /* line 40, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .banner nav a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
      /* line 45, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
      .banner nav a:first-child {
        margin-right: 50px; }
      /* line 49, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
      .banner nav a:hover {
        color: #e6e6e6; }
  /* line 55, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .banner h1 {
    text-transform: uppercase;
    font-size: 3.2em;
    color: #fff; }
  /* line 61, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .banner button {
    padding: 18px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background-color: rgba(0, 113, 188, 0.6);
    color: #fff; }
    /* line 71, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .banner button:hover {
      background-color: rgba(0, 113, 188, 0.75); }
  /* line 76, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .banner > div {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* line 87, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.rental_section {
  height: 100vh;
  min-height: 600px;
  text-align: center;
  position: relative; }
  /* line 95, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.rental_section > div.content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/* line 106, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.select-equipment {
  min-height: 800px; }
  /* line 109, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment h2 {
    margin-bottom: 12px;
    font-size: 2em; }
  /* line 114, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment ul {
    margin-top: 40px; }
  /* line 118, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment li {
    display: inline-block;
    margin-right: 36px;
    height: 250px; }
  /* line 124, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment li:last-child {
    margin-right: 0; }
  /* line 128, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment .box {
    box-sizing: border-box;
    border: 2px solid #000;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
    transition: border 0.1s;
    cursor: pointer; }
    /* line 138, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    section.select-equipment .box.control {
      border: 4px solid #f2d81c; }
  /* line 143, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment img {
    position: relative;
    top: 10px; }
  /* line 148, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment label {
    position: relative;
    top: -30px;
    display: block;
    font-size: 1.3em;
    cursor: pointer; }
  /* line 156, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment .controls {
    visibility: hidden; }
    /* line 159, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    section.select-equipment .controls span {
      display: inline-block;
      width: 80px; }
    /* line 164, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    section.select-equipment .controls button {
      background-color: #ccc;
      color: #555;
      border: none;
      outline: none;
      display: inline-block;
      height: 40px;
      width: 40px;
      font-size: 1.4em;
      transition: background-color 0.1s color 0.1s; }
      /* line 177, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
      section.select-equipment .controls button:hover {
        background-color: #f2d81c;
        color: #fff; }
    /* line 183, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    section.select-equipment .controls button[disabled], section.select-equipment .controls button[disabled]:hover {
      background-color: #e6e6e6;
      color: #b3b3b3; }
  /* line 189, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.select-equipment .box.control + div {
    visibility: visible; }

/* line 194, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.continue, .submit {
  width: 200px;
  padding: 12px 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: #f2d81c;
  color: #fff;
  transition: background-color 0.2s, color 0.2s; }
  /* line 208, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .continue[disabled], [disabled].submit {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 213, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .continue:hover:not([disabled]), .submit:hover:not([disabled]) {
    background-color: #d3b81a; }

/* line 222, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.breakdown {
  margin-bottom: 40px; }
  /* line 223, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .breakdown .plus::before {
    content: "+"; }

/* line 230, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
h2 {
  font-size: 1.6em;
  letter-spacing: 1px;
  margin-bottom: 40px; }

/* line 236, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
h3 {
  font-size: 1.4em;
  letter-spacing: 1px;
  margin: 60px 0 20px; }

/* line 243, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.rental_section.select-date h2 {
  margin: 0; }

/* line 248, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.datepicker {
  height: 400px; }

/* line 252, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.ui-datepicker {
  max-width: 800px;
  margin: 0 auto; }
  /* line 256, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker table {
    width: 100%;
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 10px; }
  /* line 264, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker th {
    font-family: 'Montserrat';
    text-transform: uppercase; }
  /* line 269, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker a {
    text-decoration: none; }
  /* line 273, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker td {
    box-sizing: border-box;
    border: 2px solid #000;
    padding: 8px 0;
    font-size: 1.2em;
    color: #000;
    cursor: pointer; }
    /* line 283, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker td a {
      color: #000; }
    /* line 285, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-unselectable {
      cursor: default;
      border-color: #ccc;
      color: #ccc; }
    /* line 291, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-other-month {
      visibility: hidden; }
    /* line 295, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker td.ui-datepicker-current-day {
      border-color: #f2d81c; }
      /* line 297, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
      .ui-datepicker td.ui-datepicker-current-day a {
        color: #f2d81c; }
  /* line 301, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-month {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 1.1em;
    letter-spacing: 1px; }
  /* line 307, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-year {
    display: none; }
  /* line 309, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    display: block;
    position: relative;
    height: 20px;
    width: 10px;
    cursor: pointer; }
    /* line 317, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
      display: none; }
    /* line 319, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
    .ui-datepicker .ui-datepicker-prev.ui-state-disabled, .ui-datepicker .ui-datepicker-next.ui-state-disabled {
      opacity: 0.3;
      cursor: default; }
  /* line 325, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-prev {
    background: url(../img/rental/left.png) no-repeat center center;
    background-size: 10px auto;
    left: calc(50% - 110px);
    top: 40px; }
  /* line 333, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .ui-datepicker .ui-datepicker-next {
    background: url(../img/rental/right.png) no-repeat center center;
    background-size: 10px auto;
    left: calc(50% + 100px);
    top: 20px; }

/* line 343, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.how-long input[type="number"] {
  box-sizing: border-box;
  display: inline-block;
  height: 54px;
  width: 100%;
  max-width: 160px;
  border: 1px solid #b3b3b3;
  outline: none;
  text-align: center; }
/* line 355, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.how-long input[type="radio"] {
  display: none; }
/* line 359, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.how-long label {
  display: inline-block;
  width: 100%;
  max-width: 160px;
  height: 54px;
  line-height: 54px;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Montserrat';
  cursor: pointer; }
  /* line 373, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .how-long label.increment {
    background-color: #e6e6e6;
    color: #ccc; }
  /* line 378, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .how-long label.count {
    font-size: 1.2em;
    max-width: 40px;
    color: #b3b3b3; }
  /* line 384, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .how-long label.last-count {
    margin-right: 20px; }
/* line 390, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.how-long input[type="radio"]:checked + label.increment {
  background-color: #f2d81c;
  color: #fff; }
/* line 395, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.how-long input[type="radio"]:checked + label.count {
  color: #f2d81c; }

/* line 401, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.drop-off {
  font-size: 4em;
  color: #333; }

/* line 406, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
.breakdown {
  font-size: 3em;
  color: #b3b3b3; }
  /* line 410, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .breakdown b {
    color: #000; }
  /* line 412, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .breakdown em {
    position: relative;
    top: -12px;
    font-style: normal;
    font-size: 0.6em; }
  /* line 419, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  .breakdown .total {
    color: #f2d81c; }

/* line 423, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.personal-info form {
  margin-bottom: 80px; }
/* line 425, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.personal-info p {
  margin-bottom: 50px; }
/* line 427, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.personal-info label {
  position: relative;
  top: 10px;
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 0.8em;
  text-transform: uppercase;
  text-align: right;
  color: #333;
  width: 140px;
  margin-right: 10px; }
/* line 440, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
section.personal-info input[type="text"] {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #333;
  width: 300px;
  padding-bottom: 6px;
  padding-left: 2px;
  font-size: 1.1em; }
  /* line 453, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]::-webkit-input-placeholder {
    font-style: italic; }
  /* line 457, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic; }
  /* line 461, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic; }
  /* line 465, /Users/noah/Dropbox/programming/neutral-cycle/neutral-cycle/css/rental.scss */
  section.personal-info input[type="text"]:-ms-input-placeholder {
    font-style: italic; }

/*# sourceMappingURL=rental.css.map */