<!doctype html>
<html ng-app="myApp" class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Neutral Cycle</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js"></script>
    </head>
    <body ng-controller="MyController">
        <h1>Management</h1>
        <div>
            <input ng-model="query">
        </div>
        <table class="log">
            <tr>
                <th>ID</th>
                <th><a href="" ng-click="predicate='first_name'; reverse=!reverse">First name</a></th>
                <th><a href="" ng-click="predicate='last_name'; reverse=!reverse">Last name</a></th>
                <th><a href="" ng-click="predicate='date'; reverse=!reverse">Date</a></th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <tr ng-repeat='rv in reservations | filter:query | orderBy:predicate:reverse'>
                <td class="elems">{{rv.$id}}</td>
                <td class="elems">{{rv.first_name}}</td>
                <td class="elems">{{rv.last_name}}</td>
                <td class="elems">{{rv.date}}</td>
                <td class="elems">{{rv.phone}}</td>
                <td class="elems">{{rv.email}}</td>
            </tr>
        </table>

<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/sort-mgmt.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!--
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
-->
    </body>
</html>

