<div>
    <div class="head">
        <h1>BIKE RENTAL MANAGER</h1>
        <div class="input-cont">
            <img src="../img/search.png" id="icon">
            <input ng-model="query" placeholder="Search">
        </div>
        <select ng-model="location"
            ng-options="loc as loc.label for loc in locations">
        </select>
     </div>
    
    <div class="status">
        <h3>VIEW</h3>
        <h4 ng-class="{active : status == 'pending_pickup'}" ng-click="setStatus('pending_pickup')">Pending Pick Ups</h4>
        <h4 ng-class="{active : status == 'pending_return'}" ng-click="setStatus('pending_return')">Pending Returns</h4>
        <h4 ng-class="{active : status == 'completed'}" ng-click="setStatus('completed')">Completed Reservations</h4>
    </div>
    
    <table class="log">
        <col style="width:10%">
        <col style="width:20%">
        <col style="width:30%">
        <col style="width:30%">
        <col style="width:10%">
        
        <tr class="table-head">
            <th ng-show="status == 'pending_pickup'">PICK UP DATE</th>
            <th ng-show="status == 'pending_return'">DROP OFF DATE</th>
            <th ng-show="status == 'completed'">COMPLETED ON</th>
            <th>NAME</th>
            <th>CONTACT</th>
            <th>EQUIPMENT</th>
            <th></th>
        </tr>

        <tr ng-click="go(rv.$id)" ng-mouseenter="hover=true" ng-mouseleave="hover=false" class="entry" ng-repeat='rv in reservations | mgmt:location.value:query:status track by $index | orderBy:"-rv.date"'>
            <td ng-show="status == 'pending_pickup'">{{rv.date | date:'MMMM d'}}</td>
            <td ng-show="status == 'pending_return'">{{rv.return | date:'MMMM d'}}</td>
            <td ng-show="status == 'completed'">{{rv.return | date:'MMMM d'}}</td>
            <td>{{rv.first_name + " " + rv.last_name}}</td>
            <td>{{rv.email}}<br>{{rv.phone}}</td>
            <td class="equipment"><p ng-class="{comma: $index > 0}" ng-repeat="(eq, num) in rv.equipment">{{num}} {{eq}}</p></td>
            <td ng-class="{visible: hover}" class="modifiers">
                <div class="pickup">
                    <img src="../img/pickedup.png">
                    <p ng-show="status == 'pending_pickup'">Picked up</p>
                    <p ng-show="status == 'pending_return'">Returned</p>
                </div>
                <div ng-click="go(rv.$id)" class="edit">
                    <img src="../img/edit.png"> 
                    <p>Edit</p>
                </div>
            </td>
        </tr>
    </table>
</div>
