<div class="wrapper">
    <div class="payment-cont">
        <div class="pay-deats">
            <h2>Payment Details</h2>
        </div>

<!--
        <div class="order-summary">
            <div class="breakdown">
                <span ng-repeat="bike in bikes">
                    <div>{{bike.label}} Price<br><em>$</em>8</div>
                </span>
                <span>
                    <div></div>
                </span>
                <span class="total">
                </span>
            </div>
        </div>
-->

        <div class="form-cont personal-info">
            <form class="card-info" stripe-form="stripeCallback" name="checkoutForm">
                <div class="error" ng-if="checkoutForm.card.$invalid"> <h4>Error: invalid card number! </h4></div>
                <label for="card">CARD NUMBER</label><input type="text" id="card" ng-model="number" placeholder="1234 1234 1234 1234" payments-format="card" payments-validate="card" name="card" /> <br><br><br>
                <div class="left">
                    <label for="exp">EXPIRY</label><input type="text" id="exp" ng-model="expiry" placeholder="MM / YY" payments-format="expiry" payments-validate="expiry" name="expiry" />
                </div>
                <div class="right">
                    <label for="cvc">CVC</label><input type="text" id="cvc" ng-model="cvc" placeholder="123" payments-format="cvc" payments-validate="cvc" name="cvc" />
                </div>
                <button class="continue" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>