<section class="select-equipment">
    <form id="rental">
        <p>
            <label ng-init="hybrid_count=0">Hybrid</label>
            <button ng-disabled="hybrid_count <= 0" ng-click="hybrid_count = hybrid_count - 1">
                -
            </button>
            <span>
                {{hybrid_count}}
            </span>
            <button ng-click="hybrid_count = hybrid_count + 1">
                +
            </button>
        </p>
        <p>
            <label ng-init="tandem_count=0">Tandem</label>
            <button ng-disabled="tandem_count <= 0" ng-click="tandem_count = tandem_count - 1">
                -
            </button>
            <span>
                {{tandem_count}}
            </span>
            <button ng-click="tandem_count = tandem_count + 1">
                +
            </button>
        </p>
        <p>
            <label ng-init="cargo_count=0">Cargo</label>
            <button ng-disabled="cargo_count <= 0" ng-click="cargo_count = cargo_count - 1">
                -
            </button>
            <span>
                {{cargo_count}}
            </span>
            <button ng-click="cargo_count = cargo_count + 1">
                +
            </button>
        </p>
    </form>
</section>
<section class="select-time">
    <form>
        <p>
            Rent by the 
            <input type="radio" ng-model="timeIncrement" id="time-hour" name="time" ng-value="byHour">
            <label for="time-hour">Hour</label>
            <input type="radio" ng-model="timeIncrement" id="time-day" name="time" ng-value="byDay">
            <label for="time-day">Day</label>
            <input type="radio" ng-model="timeIncrement" id="time-week" name="time" ng-value="byWeek">
            <label for="time-week">Week</label>
        </p>
        <h3 ng-if="timeIncrement">Estimate: ${{hybrid_count*timeIncrement.hybrid 
            + tandem_count*timeIncrement.tandem 
            + cargo_count*timeIncrement.cargo}}/hr</h3>
    </form>
</section>
<section class="select-pickup">
    <form></form>
</section>
<section class="personal info">
    <form>
        <p>
            <label for="first_name">First Name</label>
            <input ng-model="first_name" id="first_name" name="first_name" placeholder="Johnny" required>
        </p>

        <p>
            <label for="last_name">Last Name</label>
            <input ng-model="last_name" id="last_name" name="last-name" placeholder="Doe" required>
        </p>
        <p>
            <label for="email">Email Address</label>
            <input ng-model="email" id="email" name="email" type="email" placeholder="givemeabike@now.com" required>
        </p>

        <p>
            <label for="phone">Phone Number</label>
            <input ng-model="phone" id="phone" name="phone" placeholder="(420) 666-6969">
        </p>

        <p>
            <label for="pickup_date">Pickup Date</label>
            <input ng-model="pickup_date" id="pickup_date" name="pickup_date" placeholder="MM/DD/YYYY">
        </p>

        <p>
            <label for="pickup_time">Pickup Time</label>
            <input ng-model="pickup_time" type="select" id="pickup_time" name="pickup_time" placeholder="Pickup time">
        </p>
        Location:
        <select ng-model="location" name="location">
            <option selected value="nchq">Neutral Cycle</option>
            <option value="flymach">Flying Machine</option>
            <option value="pharm">The Pharmacy</option>
        </select>
        
        <br><br>
        
        <button ng-click="submit()" id="butts" type="button">Click me to submit!</button>
    </form>
</section>

<!--
<table class="log">
    <tr ng-repeat='rv in reservations'>
        <td>{{rv.first_name}}</td>
        <td>{{rv.last_name}}</td>
        <td>{{rv.date}}</td>
        <td>{{rv.phone}}</td>
        <td>{{rv.email}}</td>
    </tr>
</table>
-->

<script src="/js/plugins.js"></script>
<script src="/js/submit.js"></script>