<h1>Management</h1>
<a href="/reservations/">Back</a>
<p>TODO: update key {{resId}} in firebase or whatever</p>

<form ng-submit="update()" name="rental-form">
    First name: <input type="text" ng-disabled="clicked" ng-model="userRes.first_name" /><br>
    Last name: <input type="text" ng-disabled="clicked" ng-model="userRes.last_name" /><br>
    Date: <input ng-disabled="clicked" ng-model="userRes.date" /><br>
    Phone: <input ng-disabled="clicked" ng-model="userRes.phone" /><br>
    Email: <input ng-disabled="clicked" ng-model="userRes.email" /><br>
    Click me to edit: <input type="checkbox" ng-model="clicked">
    <input type="submit" id="submit" value="Submit" />
</form>